<div *ngIf="!schema">Loading UI schema...</div>

<mat-tab-group *ngIf="schema && schema.formTabs && formGroups.length === schema.formTabs.length" [(selectedIndex)]="activeTabIndex">
  <mat-tab label="User List">
    <div class="table-container">
      <table mat-table [dataSource]="userList" class="mat-elevation-z2">
        <ng-container *ngFor="let col of schema.listColumns" [matColumnDef]="col.columnName">
          <th mat-header-cell *matHeaderCellDef>{{ col.displayName }}</th>
          <td mat-cell *matCellDef="let row">{{ row[col.columnName] }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelect(row)"></tr>
      </table>
    </div>
  </mat-tab>

  <mat-tab *ngFor="let tab of schema.formTabs; let i = index" [label]="tab.title">
    <form [formGroup]="formGroups[i]" class="form-container">
      <div class="toggle-container">
        <label class="toggle-label">
          <input
            type="checkbox"
            [checked]="showEmptyFields"
            (change)="onToggleShowEmptyFields($event)"
          />
          Show Empty Fields
        </label>
      </div>

      <div class="form-grid pixel-coords-container" #formContainer>
        <ng-container *ngFor="let field of tab.fields">
          <div *ngIf="showEmptyFields || formGroups[i].get(field.fieldName)?.value">
            <label
              *ngIf="field.labelpos && !(field.labelpos.x === 0 && field.labelpos.y === 0)"
              class="form-label absolute"
              [style.left.px]="field.labelpos.x * xMultiplier"
              [style.top.px]="field.labelpos.y * yMultiplier"
            >
              {{ field.label || field.fieldName }}
            </label>

            <ng-container *ngIf="field.inputpos">
              <input
                type="text"
                [formControl]="getControl(i, field.fieldName)"
                (keydown)="enforceMaxChars($event, field)"
                [attr.maxLength]="field.maxChars"
                [style.left.px]="field.inputpos.x * xMultiplier"
                [style.top.px]="field.inputpos.y * yMultiplier"
                class="form-input absolute"
              />
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="button-row">
        <button type="button" (click)="onSubmit()">💾 Save</button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
